EMAIL_HOST_USER=yannikkwc@gmail.com
EMAIL_HOST_PASSWORD=KWC02.11
DATABASE_PASSWORD=4839b769db7a9a547374766da0f8146cb2321c39297c172b09572e2a0d5b3d0e
DATABASE_USER=qaohjqesaaiufy
DATABASE_HOST=ec2-34-197-84-74.compute-1.amazonaws.com
DATABASE_NAME=d3pq6bnb239uod